engines/build
engines/build_linux

engines/thirds/mysql/lib/*
engines/lib


code/build
code/build_linux
code/engines/thirds/mysql/lib/
log
*.log
code/bin/battleserver/battleserver
code/bin/centerserver/centerserver
code/bin/dbserver/dbserver
code/bin/gatewayserver/gatewayserver
code/bin/hallserver/hallserver
code/bin/matchserver/matchserver
code/bin/registryserver/registryserver

